.quiz-form {
  width: 100%;

  label,
  label,
  input:not([type="radio"]),
  textarea {
    display: block;
    width: 100%;
  }

  input {
    height: 2.25rem;
  }

  input,
  textarea {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid grey;

    &:focus {
      outline: 1px solid #646cff;
      border-color: #646cff;
    }
  }
}

.quiz-form__questions {
  padding: 2rem;
  border: none;
  margin-top: 1rem;

  @media (max-width: 768px) {
    padding: 0.5rem;
  }
}

.quiz-form__top-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;

  button {
    min-width: fit-content;
  }
}

.quiz-form__question,
.quiz-form__answers {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 1rem;
  position: relative;
}

.quiz-form__question {
  padding-top: 2rem;
}

.quiz-form__answers {
  margin-top: 1rem;
}

.quiz-form__remove-question-button {
  border: none;
  padding: 0;
  aspect-ratio: 1;
  height: 2.25rem;
  background-color: rgba(255, 255, 255, 0.05);
  transition: background-color 0.25s;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  &:hover,
  &:focus-visible {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.quiz-form__answer {
  margin-top: 0.25rem;
  display: flex;
  gap: 0.5rem;
  align-items: start;

  > div {
    width: 100%;
  }
  button {
    display: grid;
    place-items: center;
    aspect-ratio: 1;
    flex-shrink: 0;
    padding: 0;
    height: 2.25rem;
  }
}

label.quiz-form__correct-answer {
  width: auto;
}

.quiz-form__error {
  color: lightcoral;
  font-size: smaller;
  margin: 0;
}
