.quiz {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  color: black;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  @media (min-width: 768px) {
    align-items: center;
    flex-direction: row;
  }

  a {
    text-decoration: none;
    color: inherit;
    width: 100%;
  }
}

.quiz__questions-count {
  color: white;
  background-color: #646cff;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
