.quiz {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  color: black;
  display: flex;
  gap: 1rem;
  align-items: center;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.quiz__questions-count {
  color: white;
  background-color: palevioletred;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
